<html>
    <head>
        <title>GVS Development API</title>
    </head>
    <body>
        <h1>GVS Development API</h1>
		<p>The Geocoordinate Validation Service development API is online!</p>
    </body>
</html>

